/* Media Party 2017 - Styles */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
}
.container {
	padding: 0;
	max-width: 100% !important;
}
.event {
	width: 100%;
	margin: 0;
	border: 8px solid #00B8C3;
}

.event__header {
	padding: 30px;
}

@media (max-width: 992px) {
	.event__header {
		padding-left: 30px;
	}
}

.event__logo_text {
	float: right;
	width: 186px;
	height: 172px;
	margin-top: 55px;
	text-indent: -9999px;
	background: url("../images/mp_logo.svg") no-repeat center;
}

@media (max-width: 992px) {
	.event__logo_text {
		float: none;
	}
}

.event__nav {
	text-align: right;
}

.event__blog {
	color: #000;
	font-size: 20px;
	text-transform: uppercase;
}

.event__blog:visited {
	color: #333;
	text-decoration: none;
}

.event__lang {
	padding-top: 5px;
	text-align: right;
}

.event__lang_link {
	color: #000000 !important;
}

.event__cta {
	display: inline-block;
	padding: 10px 15px;
	background:rgba(0,185,195,.2);
	text-align: center;
}

.event__days {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: -3px;
	line-height: 48px;
	margin: 0 0 5px;
}

.event__month {
	font-size: 48px;
	font-weight: 300;
	letter-spacing: 4px;
	line-height: 48px;
	margin: 0 0 20px;
}

.event__es .event__month {
	letter-spacing: 1px;
}

.event__place {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 20px;
	text-transform: uppercase;
	margin: 0 0 10px;
}

.event__city {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 20px;
	margin: 0;
}

.event__activities {
	width: 100%;
	min-height: 640px;
	margin-top: 30px;
	background: url(../images/foto_escalera.gif) no-repeat center;
	background-size: cover;
	color: #fff;
	text-align: center;
}

.event__act_list {
	list-style-type: none;
	margin: auto;
	display: block;
	width: 80%;
}

.event__es .event__act_list {
	width: 90%;
}

.event__act_list li {
	display: block;
	float: left;
	padding: 30px 0 0;
	font-size: 24px;
	text-transform: uppercase;
	text-align: left;
}

@media (max-width: 992px) {
	.event__act_list li  {
		text-align: left;
	}
}

.event__act_list li:after {
	content: "/";
	padding: 0 15px;
}

.event__act_list li:last-child::after {
	display:none;
}

@media (max-width: 992px) {
	.event__act_list li:last-child::after  {
		display: inline-block;
	}
}

.event__aside {
	text-align: right;
}

.event__hhba {
	float: right;
	text-align: left;
	text-indent: -9999px;
	width: 300px;
	height: auto;
	margin: 10px 0 30px;
	background: url("../images/logo_hhba_negro.svg") no-repeat right center;
	background-size: contain;
}

@media (max-width: 992px) {
	.event__hhba {
		float: none;
		background: url("../images/logo_hhba_negro.svg") no-repeat left center;
	}
}
.event__description {
	font-weight: 300;
	padding: 30px 0;
}

@media (max-width: 992px) {
	.event__video  {
		width: 100%;
		height: auto;
		min-height: 240px;
	}
}

.event__desc_text {
	font-size: 20px;
	line-height: 30px;
	color: #444;
}

.event__name {
	color: #00B8C3;
	font-weight: bold;
}

.event__footer {
	padding: 30px 0;
	clear: both;
	text-align: center;
}

@media (max-width: 992px) {
	.event__footer  {
		padding: 30px;
		text-align: center;
	}
}

.event__contact {
	padding: 10px 15px;
	background:rgba(0,185,195,.2);
	text-align: center;
	margin: 0 4% 30px;
}
.event__contact_link {
	color: #000;
	text-decoration: underline;
}
.event__copyright {
	font-size: 10px;
	text-align: center;
	margin: auto;
}
